.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart svg {
  margin: 0px 5px 0px 0px;
}

.cart small {
  background-color: orange;
  font-size: 14px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #000;
  margin: 0px 0px 0px 5px;
}
