.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.header__logo span {
    color: orange;
}

.header-cart__btn {
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    background-color: #484848;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.2s ease;
}

.header-cart__btn:hover {
    background-color: #505050;
}