*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(25, 26, 28);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.App {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 40px;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}
